:root {
    /* paleta de cores */
    --color-primary: #131313;
    --color-secondary: #F6CF57;
    --color-tertiary: #e92929;
    --color-text: #ffffff;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
    background-color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px 10px 25px 10px;
    max-width: 1500px;
    min-height: 100vh;
    margin: auto;
}

footer {
    position: absolute;
    height: 25px;
    border-top: 1px solid var(--color-secondary);
    bottom: 0px;
    left: 0;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: 5px 0 10px 0;
}

header img {
    width: 3rem;
    height: 3rem;
    margin: 0 5px;
}

h1 {
    color: var(--color-text);
    font-size: 3.6rem;
    line-height: 121%;
    margin: 0 5px;
}

h2 {
    color: var(--color-text);
    font-size: 2.8rem;
    line-height: 121%;
    margin-bottom: 10px;
}

p {
    color: var(--color-text);
    font-size: 1.5rem;
    line-height: 121%;
}

span {
    color: var(--color-text);
    font-size: 1rem;
    margin-bottom: 5px;
}

.cards-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    padding: 10px;
    margin: 10px 0;
    overflow: hidden;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
}

.cards-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 290px;
    margin: 20px 0;
    padding: 30px 0;

    box-shadow: var(--color-secondary) 0px 6px 14px 0px, var(--color-secondary) 0px 0px 0px 1px;

}

.cards-container figure {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 180px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.cards-container img {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.cards-container p {
    width: 80%;
}

@media (min-width:480px) {
    :root {
        font-size: 70%;
    }

}

@media (min-width:600px) {
    :root {
        font-size: 80%;
    }

    .cards-container div {
        width: 300px;
        margin: 20px;
    }
}

@media (min-width:801px) {
    :root {
        font-size: 90%;
    }

    span {
        font-size: .9rem;
    }

    p {
        font-size: 1.2rem;
    }

    .cards-container p {
        width: 75%;
    }
}

@media (min-width:1021px) {
    :root {
        font-size: 100%;
    }

    .cards-container div {
        width: 320px;
    }
}

@media(min-width: 1440px) {
    .cards-container figure {
        width: 300px;
        height: 200px;
    }

    .cards-container div {
        width: 350px;
    }
}

@media (min-width:2200px) {
    :root {
        font-size: 110%;
    }
}